*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body {
    width: 100%;
    height: 100%;
}
.productCart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px; 
    height: auto; 
    margin: 15px;
    text-align: center;
    font-family: Arial;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    border-radius: 8px;
    overflow: hidden; 
}

.productCart img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-bottom: 2px solid #ddd; 
}

.productCart h1 {
    font-size: 20px;
    margin: 10px 0;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.productCart .price {
    color: grey;
    font-size: 18px;
    margin-bottom: 10px;
}

.productCart p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.productCart .qntity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.productCart .qntity label{
    margin-right: 10px;
}

.productCart .quantity-input {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    width: 50px;
}

.productCart .quantity-input:focus {
    outline: none;
    border-color: #000;
}

.productCart .add-to-cart {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: auto; 
    text-decoration: none;
}

.productCart .add-to-cart:hover {
    opacity: 0.7;
}

/* Responsive design */
@media (max-width: 768px) {
    .productCart {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .productCart {
        width: 100%;
    }
}

#footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}
    
